# Benchmark results
*.pickle

# Python byte code
*.py[co]

# C extensions
*.so
*.pyd

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# IDE files
.idea/workspace.xml
.idea/.name
.idea/encodings.xml
.idea/esper.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/shelf/Uncommitted_changes_before_Update_at_16_01_18_11_17__Default_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_16_01_18_11_17__Default_/shelved.patch
.vscode/settings.json
